html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	overflow: hidden;
	position: fixed;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	line-height: 1;
	background: #242423;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	width: 40px;
	height: 40px;
	margin-top: 5%;
	border: none;
	background: none;
}
.tool-button:hover {
	background: #32322f;
	transition: 0.1s;
}
.tool-button:focus {
	border-left: solid 4px;
	border-left-color: #dddd37;
	background: #32322f;
}
.toolPanel {
	background: #1f1f1d;
	height: 72.5vh;
	width: 40px;
}

.tool-icon {
	height: 20px;
}
.explorer {
	background: #1f1f1d;
	height: 27.5vh;
	width: 40px;
}
.tabsContent {
	padding-left: 40px;
	background: #1f1f1d;
	height: 40px;
	width: 100%;
}
.tabsButton {
	padding-top: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	height: 40px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	color: #ffffff;
	font-family: 'Ubuntu', sans-serif;
}
.tabsButton:hover {
	background: #242423;
	transition: 0.1s;
}
.hiddenTabContent,
.hiddenFileWindow {
	display: none;
}
.activeTab {
	border-top: solid 4px;
	border-top-color: #dddd37;
	background: #242423;
}
.newFileWindow {
	background: red;
	position: absolute;
	height: 200px;
	width: 400px;
}
